<header>
  <mat-toolbar class="mat-toolbar mat-primary mat-toolbar-single-row">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    <a
      [routerLink]="['']"
      class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-decoration-none"
    >
      <img src="assets/images/logo.png" alt="logo" height="40" />
    </a>

    <span class="mat-toolbar-space"></span>


    <mat-slide-toggle class="mat-item-padding" (change)="changeMode()">

      <span *ngIf="!cssDarkMode, else DarkMode">Ligth Mode</span>
    </mat-slide-toggle>

    <mat-icon class="mat-item-padding">settings</mat-icon>

  </mat-toolbar>
</header>


<mat-drawer-container class="body-container" [class.darkMode]="cssDarkMode">
  <mat-drawer #drawer mode="over">
    <mat-list>
      <mat-list-item
        ><a [routerLink]="['pokemon']" routerLinkActive="ativo" class="nav-link"
          >Pokemons</a
        ></mat-list-item
      >
      <mat-divider></mat-divider>

      <mat-list-item> <a href="#" routerLinkActive="ativo" class="nav-link"
        >Regions</a
      ></mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container container-main">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #DarkMode>
  <span>Dark Mode</span>
</ng-template>
