<div class="d-flex justify-content-center">

  <mat-card class="card {{pokemon?.types[0]?.type.name}}">
    <mat-card-header>
      <mat-card-title [routerLink]="!isDefaultPokemon ? ['/pokemon',pokemon?.name] : []">{{ pokemon?.name }}</mat-card-title>
      <div class="card-type d-flex justify-content-end">

        <a mat-raised-button
        *ngFor="let types of pokemon?.types" [class]="types.type.name"
            [routerLink]="!isDefaultPokemon ? ['/types',types.type.name] : []"
          >
            {{ types.type.name }}
          </a>


      </div>
    </mat-card-header>
    <img
      mat-card-image
      [src]="pokemon?.sprites?.other['official-artwork'].front_default"
      alt="Photo of {{ pokemon?.name }}"
    />

    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Base Stats </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div
              class="col-md-6 pokemon-stats mt-2"
              *ngFor="let stats of pokemon?.stats"
            >
              <strong>{{ stats.stat.name }}</strong> : {{ stats.base_stat }}
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Moves </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div
              class="col-md-6 pokemon-moves"
              *ngFor="let move of pokemon?.moves?.slice(0,6); "
            >
              <button mat-stroked-button disabled>{{ move.move.name }}</button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex justify-content-around">
        <button
          mat-icon-button
          aria-label="Favorite"
          matTooltip="Favorite Pokemon"
          (click)="favorite()"
        >
          <mat-icon *ngIf="!isFavorite else tpmFavorite">star_border</mat-icon>
        </button>

        <a mat-icon-button matTooltip="View Pokemon" [routerLink]="!isDefaultPokemon ? ['/pokemon',pokemon?.name] : []">
          <mat-icon>more_horiz</mat-icon>
        </a>

        <button mat-icon-button matTooltip="Edit Pokemon">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template  #tpmFavorite>
  <mat-icon>star</mat-icon>
</ng-template>
